body, html {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
  vertical-align: middle;
}

.App-header {
  background-color: #222;
  height: 30px;
  padding: 10px;
  color: white;
  text-align: left;
}

.App-title {
  display: inline-block;
  padding-left: 10px;
  font-size: 1.2em;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.section {
  display: flex;
  flex: 1;
}
.nav {
  padding-top: 5px;
  width: 250px;
  text-align: left;
  background-color: #fafafa;
}
.nav-title {
  padding-left: .5em;
  font-size: 1.2em;
  color: #999;
}
nav > div {
  margin-bottom: 1em;
}
.main {
  flex: 1;
  padding: 20px;
  text-align: left;
}
.link {
  padding-left: 2em;
  text-decoration: none;
  display: block;
  color: #666;
}
.link.active {
  color: #3142d0;
}